@media (max-width: 1023px) {
  ._container {
    max-width: 100%;
    /* max-width: 728px; */
    margin: 0 auto;
  }
  /* бургер меню старт */
  .header_container {
    font-size: 14px;
    line-height: 16px;
    justify-content: flex-end;
  }
  .block_mobile_menu {
    display: block;
    width: 80%;
    height: 38px;
    background: linear-gradient(
      260deg,
      rgba(3, 174, 161, 0.13) 0%,
      rgba(3, 174, 161, 0.81) 10.94%,
      rgba(2, 91, 85, 0) 100%
    );
    margin-top: 22px;
    position: relative;
    z-index: 4;
  }
  .block_mobile_menu > span {
    position: absolute;
    right: 60px;
    top: 12px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .block_mobile_menu > span.active {
    display: none;
  }
  .left_block_header {
    display: none;
  }
  .right_block_header {
    display: none;
  }
  .heder_burger {
    display: block;
  }
  .header_burger_line1 {
    position: absolute;
    background-color: #03aea1;
    right: 20px;
    top: 10px;
    width: 26px;
    height: 3px;
    transition: all 0.3s ease 0s;
    z-index: 5;
  }
  .header_burger_line2 {
    position: absolute;
    background-color: #03aea1;
    right: 20px;
    top: 17px;
    width: 26px;
    height: 3px;
    transition: all 0.3s ease 0s;
    z-index: 5;
  }
  .header_burger_line3 {
    position: absolute;
    background-color: #03aea1;
    right: 20px;
    top: 24px;
    width: 26px;
    height: 3px;
    transition: all 0.3s ease 0s;
    z-index: 5;
  }
  .header_burger_line1.active {
    transform: rotate(45deg);
    top: 18px;
    background: black;
  }
  .header_burger_line3.active {
    transform: rotate(-45deg);
    top: 18px;
    background: black;
  }
  .header_burger_line2.active {
    transform: scale(0);
  }
  .menu_mobile.active {
    display: block;
    position: absolute;
    font-size: 20px;
    width: 100%;
    height: max-content;
    left: 0px;
    top: 0px;
    /* z-index: 20; */
    background: radial-gradient(
      161.13% 152.1% at -22.4% -20.67%,
      #030002 0%,
      #030002 0.01%,
      #db007c 0.02%,
      #46092c 41.99%,
      #040003 59.22%,
      #000000 100%
    );
  }
  .lang_mobile {
    display: none;
  }
  .lang_mobile.active {
    display: flex;
    width: min-content;
    height: min-content;
    margin-left: 344px;
    margin-top: 8px;
  }
  .lang_mobile > img {
    margin-right: 5px;
    width: 40.53px;
    height: 24.32px;
  }
  .logo_mobile {
    display: block;
    margin-top: 65px;
    /* margin-left: 180px; */
    margin-left: auto;
    margin-right: auto;
    width: 409px;
    height: auto;
  }
  /* .wrapper_link_mobile{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  } */
  .container_link_mobile {
    margin-left: auto;
    margin-right: auto;
    width: 509px;
    position: relative;
    z-index: 2;
  }
  .container_link_mobile > li {
    margin-top: 50px;
    font-size: 23px;
    line-height: 27px;
  }
  .container_link_mobile > li:hover {
    cursor: pointer;
    color: #03aea1;
  }
  .menu_mobile_token_info {
    background: linear-gradient(90deg, #2a0a20 0%, #001d21 94.15%);
    border: 2px solid #991660;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 509px;
    height: 129.38px;
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
  }
  .menu_mobile_token_info > img {
    margin-right: 22px;
    width: 73.2px;
    height: 100.44px;
    margin-top: 12px;
  }
  .menu_mobile_token_info_left_block {
    margin-left: 22px;
  }
  .menu_mobile_token_info_left_block > h3 {
    margin-top: 15.41px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #991660;
  }
  .menu_mobile_token_info_left_block > p {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #991660;
    margin-top: 4px;
  }
  .menu_mobile_token_info_left_block > p > span {
    color: white;
  }
  .token_adres_mobile > img {
    width: 16px;
    height: auto;
    margin-bottom: 6px;
  }
  .token_adres_mobile {
    margin-top: 5px;
  }
  .token_adres_mobile > a {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
  }
  .token_adres_mobile > a:hover {
    cursor: pointer;
    color: #03aea1;
  }
  .container_social_mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 77px;
    margin-bottom: 140px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
  }
  .social_mobile {
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(
      180deg,
      rgba(255, 0, 181, 0.43) 11.11%,
      rgba(64, 107, 164, 0) 85.18%
    );
    width: 50px;
    height: 43px;
    border-radius: 7px;
    padding-left: auto;
    padding-right: auto;
  }
  .social_mobile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .menu_mobile_right_line {
    position: absolute;
    width: 100%;
    height: auto;
    top: 400px;
  }
  .menu_mobile_left_line {
    position: absolute;
    width: 100%;
    height: auto;
    top: 300px;
  }
  /* бургер меню финииш */
  /* main старт */
  .main {
    height: auto;
    height: 550px;
    background: linear-gradient(
      180deg,
      #000000 1.41%,
      #015654 50.52%,
      #000000 90.13%
    );
    /* background-size: ; */
  }
  .main_container {
    z-index: 1;
  }
  .main_container.active {
    display: none;
  }
  .token_info {
    display: none;
  }
  .background {
    display: none;
  }

  .mobile-background-container {
    display: block;
    position: relative;
    z-index: 0;
    margin-top: -40px;
  }
  .background_mobile {
    width: 100%;
    transform: scale(0);
  }

  .background_mobile.anime-active {
    animation: background_mobile 1.5s ease forwards;
  }

  @keyframes background_mobile {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .mobile-logo-anime {
    width: 140px;
    height: auto;
    top: -17px;
    right: 40px;
    display: block;
    position: absolute;
    /* z-index: 50; */
  }
  .logo_anime {
    display: none;
  }
  .content_main {
    top: 0px;
    display: flex;
    width: auto;
    right: 0;
    left: 0;
    margin: auto;
  }
  .logo_main_mobile {
    display: block;
    width: 209px;
    height: 269px;
    margin-left: 40px;
    transform: translateX(-250px);
    animation: logo_mobile 1.2s ease 0.5s forwards;
  }

  @keyframes logo_mobile {
    0% {
      transform: translateX(-250px);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .description_main {
    display: none;
  }
  .description_main_mobile {
    display: block;
  }
  .description_main_mobile > h1 {
    animation: anime-main-mobile 1.2s ease 0.8s forwards;
  }

  @keyframes anime-main-mobile {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .description_main_mobile h1 {
    font-size: 35px;
    line-height: 41px;
    text-align: left;
    margin-left: 15px;
    margin-right: 40px;
    font-style: normal;
    font-weight: bold;
    margin-top: 77px;
  }
  .description_main_mobile h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: rgba(223, 251, 255, 0.9);
    position: absolute;
    left: 40px;
    top: 300px;
    margin-right: 40px;
  }
  .vr_ar_mobile {
    position: absolute;
    display: flex;
    top: 445px;
    left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #ffc999;
    margin-right: 40px;
  }
  .vr_ar_mobile img {
    width: 2px;
    height: 50px;
    margin-right: 19px;
  }
  /* Майн финиш */
  /* advantages старт */
  .advantages_container {
    z-index: 0;
    background: linear-gradient(
      185.18deg,
      rgba(2, 3, 0, 0.83) 7.38%,
      #0a0005 15.82%,
      rgba(133, 27, 87, 0.76) 55.47%,
      rgba(70, 9, 44, 0.59) 72.03%,
      rgba(4, 0, 3, 0.443182) 84.78%,
      #000000 95.97%
    );
  }
  .advantages_photo {
    display: none;
  }
  .description_advantages {
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -150px;
  }
  .description_advantages h2 {
    text-align: center;
    font-size: 40px;
    line-height: 47px;
  }
  .description_advantages p {
    font-size: 23px;
    line-height: 27px;
  }
  .advantages_left_line,
  .advantages_right_line {
    display: none;
  }
  .goals_container {
    /* margin-top: 0px; */
    height: auto;
    width: 100%;
    padding-bottom: 23px;
    background: none;
    z-index: 2;
  }
  .goals_container h2 {
    font-size: 40px;
    line-height: 47px;
  }
  .goals_container > p {
    font-size: 23px;
    line-height: 27px;
    margin-right: 40px;
    margin-left: 40px;
  }
  .goals_container img {
    display: none;
  }
  /* goals финиш */
  /* будущее начало */

  .future_container {
    position: relative;
    flex-direction: column-reverse;
    margin-top: -10px;
    width: 100%;
  }
  .future_logo {
    display: block;
    width: 140px;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -92px;
    z-index: 2;
  }
.future_logo.anime-active{
  animation: future-logo 2s ease 0.5s forwards;
}

@keyframes future-logo {
  0%{
    transform: scale(1);
  }
  5%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

  /* .future_logo {
    display: block;
    width: 140px;
    height: auto;
    position: absolute;
    bottom: -92px;
    left: 0;
    right: 0;
    margin: auto;
  } */
  .future_container_description {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    background: linear-gradient(
      15.08deg,
      rgba(91, 21, 69, 0.73) 17.08%,
      rgba(62, 33, 65, 0) 66.53%
    );
    padding-bottom: 134px;
  }
  .future_container_description h2 {
    font-size: 40px;
    line-height: 47px;
    text-align: center;
  }
  .future_container_description p {
    font-size: 23px;
    line-height: 27px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .future_photo {
    width: 100%;
    height: auto;
    margin-right: -28px;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
  }
  /* Инвесторам и пользователям начало */
  .investors {
    height: 450px;
    padding-top: 100px;
  }
  .investors > h2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  }
  .investors > p {
    font-size: 23px;
    line-height: 27px;
  }
  /* Слайдеер начало */
  .slide {
    margin-left: auto;
    margin-right: auto;
  }
  .slider_header {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 35px;
  }
  /* Слайдер конейц */
  .anime_planet_container {
    display: none;
  }

  .tokenomica {
    margin-top: 106px;
    /* position: relative; */
    margin-bottom: 100px;
    height: 770px;
  }
  .tokenomica_full {
    flex-direction: column;
  }
  .tokenomica_full::before {
    position: absolute;
    top: 65px;
    content: "";
    width: 18px;
    /* left: 20px; */
    height: 100%;
    /* left: 0px; */
    background: linear-gradient(
      270.02deg,
      #991660 42.56%,
      rgba(153, 22, 96, 0.12) 88.86%
    );
    border-radius: 15px;
    z-index: 2;
  }
  .tokenomica h2 {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 47px;
  }
  .tokenomica_left {
    width: 689px;
    height: 345px;
    margin-bottom: 6px;
    padding-top: 37px;
  }
  .tokenomica_left > p {
    font-size: 23px;
    line-height: 27px;
    margin-left: 42px;
    /* margin-top: 0px; */
    margin-right: 47px;
  }
  /* .tokenomica_right_percent {
    margin-left: 25px;
  } */
  .tokenomica_right {
    margin-left: 25px;
  }
  .tokenomica_right_percent p {
    margin-top: 17px;
  }

  .tokenomica_right_text {
    width: 578px;
    height: 42px;
    margin-top: 17px;
    z-index: 1;
  }
  #tokenomica_1{
    transform: translateX(0px);
    opacity:1;
  }
  #tokenomica_2 {
    width: 518px;
    height: 42px;
    transform: translateX(0px);
    opacity:1;
  }
  #tokenomica_3 {
    width: 357px;
    height: 42px;
    transform: translateX(0px);
    opacity:1;
  }
  #tokenomica_4 {
    width: 315px;
    height: 42px;
    transform: translateX(0px);
    opacity:1;
  }
  #tokenomica_5 {
    width: 271px;
    height: 42px;
    transform: translateX(0px);
    opacity:1;
  }
  #tokenomica_6 {
    width: 173px;
    height: 42px;
    transform: translateX(0px);
    opacity:1;
  }
  .tokenomica_right_text > p {
    font-size: 23px;
    line-height: 27px;
    margin-left: 24px;
  }
  .tokenomica_right_percent {
    font-size: 23px;
    line-height: 27px;
    margin-left: 15px;
  }
  /* Tokenomica finish */

  /* Partners start */
  .partners {
margin-top: 100px;
  }
  #partners_logo_1 {
    width: 374.78px;
    left: -15px;
    right: 0;
    margin: 0 auto;
    top: 50.5px;
  }
  #partners_logo_2 {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 87.68px;
    width: 386.7px;
  }
  .partners_right_block {
    margin-top: 110px;
    text-align: center;
  }
  .partners_right_block h2 {
    max-width: 386px;
    font-size: 40px;
    line-height: 47px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 417px;
  }
  .partners_right_block p {
    text-align: start;
    font-size: 23px;
    line-height: 27px;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }
  .partners_left_block {
    width: auto;
    margin: 0 auto;
  }
  .button_start {
    width: 280.5px;
    height: 60px;
    font-size: 35px;
    line-height: 41px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  /* Слайдер 2 */

  .slide_logo > img {
    height: 108px;
  }
  .swiper2 {
    height: 108px;
    margin-top: 50px;
  }
  /* Footer start */
  .footer {
    display: block;
    background: none;
    border-radius: 0px;
    margin-top: 50px;
  }
  .footer_left_block {
    height: 193px;
    background: linear-gradient(
      180deg,
      rgba(91, 21, 69, 0.73) 0%,
      rgba(62, 33, 65, 0) 100%
    );
    border-radius: 20px;
    align-items: flex-start;
  }
  .footer_left_block img {
    width: 94px;
    height: 133px;
    margin-left: 48px;
    margin-top: 17px;
  }
  .footer_left_block p {
    font-size: 23px;
    line-height: 27px;
    margin-left: 37px;
    margin-top: 60px;
  }
  .footer_right_block {
    height: 86px;
    margin-top: -22px;
    background: linear-gradient(
      180deg,
      rgba(55, 11, 41, 0.4599) 0%,
      rgba(62, 33, 65, 0) 100%
    );
    border-radius: 20px;
    justify-content: space-between;
    margin-right: 0px;
  }
  .footer_right_block_container_social {
    margin-right: 0px;
  }
  .footer_right_block_copiright {
    margin-right: 0px;
    margin-left: 50px;
    font-size: 19px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .footer_right_block_container_social img {
    display: none;
  }
  .footer_right_block_container_social p {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 0px;
    margin-right: 50px;
    margin-top: 0px;
  }
  /* Footer end */
}
